body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    display: flex;
    margin-top: 0;
    gap: 20px;
}

a {
    text-decoration: none;
    color: #e5e7eB;
}

.header {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}

.top {
    background-color: #1f2937;
}

.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
    gap: 35px;
}

.left {
    display: flex;
    flex-direction: column;
    color: #f9fAf8;
    margin-right: 40px;
}

p {
    color: #e5e7eB;
    font-weight: 400;
}

.right {
    width: 350px;
    height: auto;
}

.header-logo {
    max-height: 25px;
}

button {
    width: 130px;
    background-color: #3882f6;
    color: white;
    font-weight: bolder;
    padding: 7px;
    font-size: 18px;
    border-radius: 10px;
}

.header-text {
    max-width: 450px;
    font-size: 48px;
    font-weight: bolder;
}

.footer {
    background-color: #1f2937;
    font-size: 18px;
    color: #e5e7eB;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}

.title {
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    margin: 20px 0;
    padding: 20px;
}

.info-b {
    display: flex;
    justify-content: center;
    padding: 25px;
    gap: 45px;
    text-align: center;
    margin-bottom: 80px;
}

.info-c {
    max-width: 150px;
}

.infopic {
    height: 150px;
    width: 150px;
}

p {
    max-width: 430px;
}

.quote {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eB;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

.words {
    max-width: 800px;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    margin-top: 100px;
    color: #5b5b5b;
}

.thor {
    margin-left: 550px;
    font-weight: bolder;
    margin-bottom: 100px;
    font-size: 24px;
    color: #3b3b3b;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 175px;
    background-color: #3882f6;
    padding: 50px 0;
    width: 1050px;
    color: white;
    border-radius: 10px;
}

.signup {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px;
}

.button2 {
    color: #f9fAf8;
    border-color: #f9fAf8;
    font-weight: 600;
}

.call {
    font-size: 24px;
    font-weight: 500;
    color: #f9fAf8;
}

.clicking {
    color: #e5e7eB;
    font-size: 18px;
    font-weight: 400;
}